newrelic:
    nrsysmond:
        license_key: f5098a0c0f3c59e6c2fd24e73e4670044f577549
        proxy: '10.0.4.69:8080'

    packages:
        newrelic-php5: true

    # We're going to use New Relic Platform Installer (NPI) to install plugins
    # https://goo.gl/i12JPG
    plugins:
        memcached: true
        nginx: true
        php_fpm: true
