# Values populated as examples
newrelic:
    nrsysmond:
        license_key: '00101001010001001110011110110000'
        proxy: '10.0.4.69:8080'
        loglevel: 'info'
        logfile: '/var/log/newrelic/nrsysmond.log'

    package:
        newrelic-php5:
            newrelic.appname: 'PHP Default'
        newrelic-php5-common:

    # Multi-Plugin python-based Agent for NewRelic's Platform
    # New Relic Platform Installer (NPI) can be used too, but does not have php-fpm
    # https://goo.gl/9BV6T0
    plugin:
        source:
            meetme:
                type:
                    memcached:
                        name: {{ salt['grains.get']('fqdn') }}
                        host: localhost
                        port: 11211
                    php_fpm:
                        name: {{ salt['grains.get']('fqdn') }}
                        scheme: http
                        host: localhost
                        port: 80
                        path: /fpm-status
                        query: json
            npi:
                type:
                    mysql:
                        plugin: com.newrelic.plugins.mysql.instance
                        config:
                            agents:
                                - 
                                  name: "db1.domain.net"
                                  host: "127.0.0.1"
                                  metrics: "status,newrelic,slave,innodb_status,innodb_mutex"
                                  user: "replication"
                                  passwd: "GpzPP!GcP>Psv9R<"
                                - 
                                  name: "db2.domain.net"
                                  host: "127.0.0.1"
                                  metrics: "status,newrelic,slave,innodb_status,innodb_mutex"
                                  user: "replication"
                                  passwd: "GpzPP!GcP>Psv9R<"

# vim: set bg=dark syntax=yaml paste:
