{% set newrelic = salt['pillar.get']('newrelic', {

    'repo': salt['grains.filter_by']({
        'Debian': {
            'name':         'deb http://apt.newrelic.com/debian/ newrelic non-free',
            'file':         '/etc/apt/sources.list.d/newrelic.list',
            'key_url':      'https://download.newrelic.com/548C16BF.gpg',
        },
        'RedHat': {
            'humanname':    'New Relic packages for Enterprise Linux 5 - $basearch',
            'name':         'newrelic',
            'baseurl':      'http://yum.newrelic.com/pub/newrelic/el5/$basearch',
            'gpgkey':       'https://download.newrelic.com/548C16BF.gpg',
            'gpgcheck':     1,
            'enabled':      1,
        },
    }, default='RedHat'),

    'infrarepo': salt['grains.filter_by']({
        'RedHat': {
            'humanname':    'New Relic Infrastructure',
            'name':         'newrelic-infra',
            'baseurl':      'http://download.newrelic.com/infrastructure_agent/linux/yum/el/$releasever/$basearch',
            'gpgkey':       'http://download.newrelic.com/infrastructure_agent/gpg/newrelic-infra.gpg',
            'gpgcheck':     1,
            'enabled':      1,
        },
    }, default='RedHat'),

    'epel': salt['grains.filter_by']({
        'RedHat': {
            'humanname':    'Extra Packages for Enterprise Linux $releasever - $basearch',
            'name':         'epel',
            'baseurl':      'https://download.fedoraproject.org/pub/epel/$releasever/$basearch',
            'gpgkey':       'https://download.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-$releasever',
            'gpgcheck':     1,
            'enabled':      0,
        },
    }, default='RedHat'),

    'infra': salt['grains.filter_by']({
        'RedHat': {
            'name':         '/etc/newrelic-infra.yml',
            'source':       'salt://newrelic/files/infra.yml.jinja',
            'template':     'jinja',
        },
    }, default='RedHat'),

    'nrsysmond': salt['grains.filter_by']({
        'RedHat': {
            'name':         '/etc/newrelic/nrsysmond.cfg',
            'source':       'salt://newrelic/files/nrsysmond.cfg.jinja',
            'template':     'jinja',
        },
    }, default='RedHat'),

    'service': salt['grains.filter_by']({
        'RedHat': {
            'state':        'running',
            'name':         'newrelic-sysmond',
            'enable':       True,
            'reload':       True,
        },
    }, default='RedHat'),

    'install': salt['grains.filter_by']({
        'RedHat': {
            'name':         'newrelic-sysmond',
        },
    }, default='RedHat'),

}, merge=true) %}

# vim: set bg=dark syntax=jinja paste:
